<a href="https://colab.research.google.com/github/jinn9403/Calendar-1-/blob/main/Calendar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

달력 만들기 구상
1. 윤년확인(calendar.isleap)
2. 지나온 날짜 계산(dateutil)
3. 마지막 날짜 계산(strptime)
4. 요일 계산(datetime)

날짜 및 요일 계산(datetime)

-날짜와 시간 데이터를 처리하는 파이썬 내장 라이브러리

-현재 시간을 가져올 수 있고 원하는 형식으로 지정 사용 가능

-timedelta 객체를 통해 날짜/시간 연산 가능

In [1]:
import datetime
day1 = datetime.date(2022, 10, 5)

In [3]:
day1
#데이트 타임형 객체 생성

datetime.date(2022, 10, 5)

In [9]:
#날짜/시간 표현
day2 = datetime.datetime(2022, 10, 15, 16, 10, 30)
day2
#요소들을 뽑아 낼 수 있는 장점이 있다.

datetime.datetime(2022, 10, 15, 16, 10, 30)

In [10]:
day2.year

2022

In [11]:
day2.month

10

In [12]:
day2.second

30

In [13]:
#날짜 시간 합치기
day = datetime.date(2022, 10, 15)
time = datetime.time(16, 10, 30)

In [14]:
dt = datetime.datetime.combine(day, time)

In [15]:
dt

datetime.datetime(2022, 10, 15, 16, 10, 30)

In [16]:
#현재 날짜/시간 (today, now)
datetime.date.today()

datetime.date(2023, 7, 21)

In [17]:
datetime.datetime.now()

datetime.datetime(2023, 7, 21, 16, 28, 32, 920537)

In [18]:
#날짜 계산(timedelta)
day1 = datetime.date(2022, 10, 15)
day2 = datetime.date(2022,11,10)
diff = day2- day1
diff

datetime.timedelta(days=26)

In [19]:
plus = datetime.timedelta(days = 100)

In [20]:
add = day1 + plus

In [21]:
#요일 판별 (weekday)
#(월요일~일요일 : 0 ~6)

In [23]:
day1.weekday()

5

In [24]:
#윤년 확인
#4년마다 돌아오는 2월이 29일까지인 해로
#((year % 4 == 0 ) and (year % 100 != 0)) or (year % 400 ==0)

In [26]:
#윤년 판별 함수(윤년이면 True, 아니면 False)
def isLeapYear(year) :
  return year % 4 == 0 and year % 100 !=0 or year % 400 == 0

In [27]:
isLeapYear(2024)

True

In [30]:
#달력 관련 라이브러리(calendar)
import calendar

In [32]:
calendar.isleap(2022)

False

In [33]:
calendar.isleap(2024)

True

In [34]:
#윤년의 횟수
calendar.leapdays(1990, 2024)

8

In [35]:
#요일 반환 및 출력
calendar.weekday(2022,10, 15)

5

In [41]:
print(calendar.calendar(2022, 2))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [42]:
#날짜출력(strptime : 날짜 형식 문자열을 datetime 객체로 변환, strftime : 날짜와 시간을 문자열로 출력)

In [53]:
import datetime
#strptime
#연월일시초 => %Y, m ,d, H, M, S
str_datetime = '2021-04-08 21:22:34'

In [54]:
currdate = datetime.datetime.strptime(str_datetime, '%Y-%m-%d %H:%M:%S' )

In [55]:
currdate

datetime.datetime(2021, 4, 8, 21, 22, 34)

In [57]:
#strftime 데이터 타임의 객체를 문자열로 바꾸어 줄 때 사용
now = datetime.datetime.now()

In [58]:
now

datetime.datetime(2023, 7, 21, 16, 58, 59, 820342)

In [59]:
date = now.strftime('%Y-%m`%d')
type(date)

str

In [60]:
date

'2023-07`21'

In [61]:
#time과 datetime 역시 구현 가능

In [62]:
#그 외 시간관련 dateutil, time

date  = parse 함수를 통해 자동으로 날짜 형식을 찾아서 datetime 객체로 변환됨

In [63]:
import datetime

In [66]:
date = '2022-10-15'
date_parsed = datetime.datetime. strptime(date, '%Y-%m-%d')
date_parsed

datetime.datetime(2022, 10, 15, 0, 0)

In [69]:
from dateutil.parser import parse

In [72]:
#dateutil 활용
parse(date)

datetime.datetime(2022, 10, 15, 0, 0)

In [71]:
#자동으로 판단해서 보내준다
parse("Oct 15, 2022 : 05 : 32 PM")
log = 'INFO 2022-01-01 T000:00:01 Happy new year, human'

In [75]:
parse(log,fuzzy = True)

datetime.datetime(2022, 1, 1, 0, 0, 1)

Test

-프로그램 경과시간, 프로글그램 대기 시간 등을 만들때 주로 사요야ㅡㅔㅐㄱㅅ ㅅ

In [76]:
#현재시간 출력(실수형
import time
time.time()

1689959695.6349099

In [78]:
#현재시간 출력(문자형)
time.ctime()

'Fri Jul 21 17:16:17 2023'

In [80]:
#대기 시간 생성
print('바로 출력')

time.sleep(3)

print('3초가 출력되는 구문')

바로 출력
3초가 출력되는 구문

In [84]:
#경과시간 출력
start_time = time.time()

for i in range(5):
    time.sleep(1) #1초간 대기
    print('반복 횟수', i+1)

end_time = time.time()
elapsed_time = end_time -start_time

print('경과된 시간 : { }초 입니다', format(elapsed_time))

반복 횟수 1
반복 횟수 2
반복 횟수 3
반복 횟수 4
반복 횟수 5
경과된 시간 : { }초 입니다 5.00534200668335